.card{
    display: flex;
    flex-direction: column;
    background-color: #95dada;
    border: 1px solid gray;
    border-radius: 5px;
    transform: translateZ(0);
    padding: 25px;
    transition: transform 0.4s ease-out;
    backface-visibility: hidden;

}

.card:hover {
    transform: scale(1.05);
  }